body{
    background-color: #2b2d42;
}

.blog_post_container{
    display: flex;
    justify-content: center;
    
}
.title-container{
    display:flex;
    justify-content: center;
    font-size: xx-large;
    color: white;
}

.blog1{
    width: 60%;
    display: flex;
    justify-content: flex-start;
    background-color: #eb5e28;
    border-radius: 20px;
    flex-direction: column;
    transition: width .2s ease-in-out,  background 0.3s ease-in-out;
    transition: height .3s ease-in-out;
}

#hidden1{
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
#buttonContainer{
    position: fixed;
    justify-content: center;
    bottom: 10%;
    
}

#backtoprofile{
    background-image: linear-gradient(to right, #eb5e28, #ff4516);
    size: 10px;
    border-radius: 20px;
    
}

#backtoprofile:hover{
    background-image: linear-gradient(to right, #ff4e4e, #ff1616);
}




